header > h1 {
  margin-top: 60px;
  padding: 15px 0 0 15px;
  position: relative;
}
#navcontainer {
  position: relative;
}

.navbar {
  width: 100%;
  height: 60px;
}
.navbar-skin {
  background-color: #46ae56;
  position: fixed;
  top: 0;
}
.menu {
  margin: 0;
  padding: 0;
}
.menu-skin {
  list-style: none;
}

.menu > .item {
  width: 16%;
  height: 100%;
  display: inline-block;
}

.item > a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.item > a {
  line-height: 60px;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
.item > a:hover {
  background-color: #3d964a;
}

footer {
  text-align: right;
}

.input-block {
  display: block;
  width: 100%;
}

.button {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  vertical-align: middle;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}

.receipt-form-body {
  margin-left: 15px;
  width: 380px;
}
.receipt-form-body .input-block {
  margin-top: 5px;
  margin-bottom: 15px;
}

