<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf8">
    <title>{{ title }} | HAM</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/main.css">
  </head>
  <body>
    {% block header %}{% endblock %}
    {% block main %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
  <script type="text/javascript" src="{{ app.request.basepath }}/js/main.js"></script>
  {% block script %}{% endblock %}
</html>
